.forecast-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    color: var(--white);
    min-width: 60px;

}

.forecast-tile__icon {
    width: 20px;
    margin: .5rem 0;
}