.weather {
    margin-top: 100px;
    max-width: 100%;
    overflow: auto;
}

.weather-24hs-forecast-title {
    color: var(--white);
    padding: 1rem;
    display: flex;
    align-items: center;
}

.weather-24hs-forecast-title__main {
    font-size: 1.5rem;
}

.wind-title {
    border-top: 2px solid var(--white);

}

.weather-details {
    background: rgba(0, 0, 0, .3);

}

.temperature-icon, .wind-icon {
    width: 25px;
    margin-right: 1rem;
}