.current-weather {
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 1rem;
    position: relative;
    overflow: hidden;

}

.current__location {
    font-size: 2rem;
    margin: 1rem 0;
    width: 100%;
    text-align: left;
}

.current__main-info {
    display: grid;
    grid-template-columns: auto auto;
    padding: 1rem;
    /* background: rgba(255, 255, 255, .1); */
    border-radius: 20px;
    width: 100%;
    height: 200px;
}

.current__icon {
    width: 150px;
    grid-row: 1/4;
    grid-column: 2/3;
    align-self:auto;
    justify-self: end;
    
}

.current__temperature {
    font-size: 3rem;
    font-weight: bold;
}

.current__feel {
    font-size: 1.5rem;
}

.current__description {
    margin: 1rem 0;
}

.current__secondary-info {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-top: 1rem;
}

.secondary-icon {
    width: 35px;
}

.secondary-tile {
    display: grid;
    grid-template-columns: auto auto;
    padding: 1rem;
    font-weight: bold;
    border-radius: 20px;
    background: rgba(255, 255, 255, .1);
    font-size: 1.1rem;
    
}

.secondary-tile__title {
    font-size: 1.2rem;
    margin-bottom: .5rem;
    grid-column: 1 / 3;
}

.sunset-sunrise {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: auto auto auto;
}

.sunset-sunrise__title {
    grid-column: 1 / 4;
    margin-bottom: 1rem;
}

.sunrise, .sunset {
    display: flex;
    flex-direction: column;
}

.sunrise {
    align-items: flex-start;
}

.sunset {
    align-items: flex-end;
}

.sunrise-icon {
    margin: auto;
    width: 35px;
}