.wind-forecast {
    display: flex;
    overflow: auto;
    padding: 1rem 0 2rem 0;
}

.wind-forecast__tile {
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    min-width: 60px;

}

.wind-forecast__tile__speed {
    margin: .5rem 0;
}