@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
    /* COLOR PALLETE */
    --white: #ffffff;
    --gray: #696e79;
    --day-light-bg: linear-gradient(
        180deg,
        rgba(0, 82, 173, 1) 0%,
        rgba(80, 161, 251, 1) 100%
    );
    --day-dark-bg: linear-gradient(
        180deg,
        rgba(75, 76, 78, 1) 0%,
        rgba(177, 177, 177, 1) 100%
    );
    --night-light-bg: linear-gradient(
        180deg,
        rgba(5, 0, 99, 1) 0%,
        rgba(0, 4, 40, 1) 100%
    );
    --night-dark-bg: linear-gradient(
        180deg,
        rgba(64, 0, 135, 1) 0%,
        rgba(27, 0, 57, 1) 100%
    );
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Ubuntu", sans-serif;
}
